{% extends 'dashboard/base.html'%}

{% block title %} {{deck.deck_title}} cards {% endblock title %}
{% set page = 'deck-cards' %}


{% block main_content %} 

{% if deck is none %}
<div class="d-grid gap-3">

    <div class="container d-grid gap-3">
        
        <div class="row g-4 deck-list-placeholder">
            <div class="row hstack pt-5"> 
                <div class="col-md-6 col-sm-12 align-middle"> 
                    <h2 class="">Deck not found</h2> 
                </div> 
                <div class="col-md-6 col-sm-12"> <img src="{{url_for('static', filename='images/empty.png')}}" class="rounded img-fluid" alt="empty deck"> 
                </div> 
            </div>
        </div>
    </div>
</div>

{% else %}
<div class="d-grid gap-3">
    <div class="dash-heading">
        <h1>Deck {{deck.deck_id}} - <i>{{deck.deck_title}}</i></h1>
    </div>

    <div class="container d-grid gap-3">
        <div> <button type="button" id="create-card-model-btn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-card-model" disabled> <span><i class="fa fa-plus"></i></span> Add new card</button> <button type="button" id="import-card-btn" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#import-card-model" disabled> <span><i class="fa fa-file-import"></i></span> Import CSV</button> </div>
        
        <div class="row g-4 card-list-placeholder">
          <table id="card-list-placeholder placeholder-glow" class="table table-light table-borderless table-hover table-responsive align-middle caption-top text-center">
            <thead class="table-dark">
                <tr>
                    <th></th>
                    <th>Card ID</th>
                    <th>Card Front</th>
                    <th>Card Back</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td><span class="placeholder col-4"></span></td>
                    <td>
                        <div class="card text-dark text-center bg-light p-3">
                            <div class="card-body align-middle col-flex">
                                <span class="placeholder col-4"></span>
                            </div>
                          </div>
                    </td>
                    <td>
                        <div class="card text-dark text-center bg-light p-3">
                            <div class="card-body align-middle col-flex">
                                <span class="placeholder col-4"></span>
                            </div>
                          </div>
                    </td>
                    <td><a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-3 m-2"></a>
                        <a href="#" tabindex="-1" class="btn btn-danger disabled placeholder col-3 m-2"></a></td>
                </tr>
                <tr>
                    <td></td>
                    <td><span class="placeholder col-4"></span></td>
                    <td>
                        <div class="card text-dark text-center bg-light p-3">
                            <div class="card-body align-middle col-flex">
                                <span class="placeholder col-4"></span>
                            </div>
                          </div>
                    </td>
                    <td>
                        <div class="card text-dark text-center bg-light p-3">
                            <div class="card-body align-middle col-flex">
                                <span class="placeholder col-4"></span>
                            </div>
                          </div>
                    </td>
                    <td><a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-3 me-2"></a>
                        <a href="#" tabindex="-1" class="btn btn-danger disabled placeholder col-3 me-2"></a></td>
                </tr>
                <tr>
                    <td></td>
                    <td><span class="placeholder col-4"></span></td>
                    <td>
                        <div class="card text-dark text-center bg-light p-3">
                            <div class="card-body align-middle col-flex">
                                <span class="placeholder col-4"></span>
                            </div>
                          </div>
                    </td>
                    <td>
                        <div class="card text-dark text-center bg-light p-3">
                            <div class="card-body align-middle col-flex">
                                <span class="placeholder col-4"></span>
                            </div>
                          </div>
                    </td>
                    <td><a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-3 me-2"></a>
                        <a href="#" tabindex="-1" class="btn btn-danger disabled placeholder col-3 me-2"></a></td>
                </tr>
                <tr>
                                     
                
            </tbody>
            <tfoot>
                <tr>
                    
                </tr>
            </tfoot>
        </table>
          
        </div>
        <div class="row g-4 card-list-empty" style="display: none;">
            <div class="row hstack pt-5"> 
                <div class="col-md-6 col-sm-12 align-middle"> 
                    <h2 class="">It's empty, add more cards by clicking the button above</h2> 
                </div> 
                <div class="col-md-6 col-sm-12"> 
                    <img src="{{url_for('static', filename='images/empty.png')}}" class="rounded img-fluid" alt="empty deck"> 
                </div> 
            </div>
        </div>
        <div class="row g-4 card-list" style="display: none;">
            <div class="col-12">
                <table id="card-list-table" class="table  table-borderless table-hover table-responsive align-middle caption-top text-center">
                    <caption> <strong> NOTE </strong> CSV export will contain only text, any html content will be stripped</caption>
                    <thead class="table-dark">
                        <tr>
                            <th class="checkboxcol"><input class="card-select-all-inp border-light" type="checkbox" id="select-all-card" value=""></th>
                            <th>Card ID</th>
                            <th>Card Front</th>
                            <th>Card Back</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>101</td>
                            <td>
                                <div class="card text-dark text-center bg-light p-3">
                                    <div class="card-body align-middle col-flex">
                                        <h5 class="card-title">Apple</h5>
                                    </div>
                                  </div>
                            </td>
                            <td>
                                <div class="card text-dark text-center bg-light p-3">
                                    <div class="card-body align-middle col-flex">
                                        <h5 class="card-title">ஆப்பிள்</h5>
                                    </div>
                                  </div>
                            </td>
                            <td><div class="row"><a href="#" tabindex="-1" class="btn btn-primary disabled m-1 col">Edit</a> 
                                <a href="#" tabindex="-1" class="btn btn-danger disabled m-1 col">Delete</a></div></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>102</td>
                            <td>
                                <div class="card text-dark text-center bg-light p-3">
                                    <div class="card-body align-middle col-flex">
                                        <h5 class="card-title">Banana</h5>
                                    </div>
                                  </div>
                            </td>
                            <td>
                                <div class="card text-dark text-center bg-light p-3">
                                    <div class="card-body align-middle col-flex">
                                        <h5 class="card-title">வாழைப்பழம்</h5>
                                    </div>
                                  </div>
                            </td>
                            <td>do something?</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>103</td>
                            <td>
                                <div class="card text-dark text-center bg-light p-3">
                                    <div class="card-body align-middle col-flex">
                                        <h5 class="card-title">Tomato</h5>
                                    </div>
                                  </div>
                            </td>
                            <td>
                                <div class="card text-dark text-center bg-light p-3">
                                    <div class="card-body align-middle col-flex">
                                        <h5 class="card-title">தக்காளி</h5>
                                    </div>
                                  </div>
                            </td>
                            <td>do something?</td>
                        </tr>
                        
                                             
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Card ID</th>
                            <th>Card Front</th>
                            <th>Card Back</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
      </div>
      
      <!-- Modal -->
      <div class="modal fade" id="add-card-model" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="add-card-model-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add-card-model-label">Add Card</h5>
                    <button type="button" class="btn-close close-model-btn" data-bs-dismiss="modal" aria-label="Close" onclick="clear_form()"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger error" role="alert" style="display: none;">
                        <h4 class="alert-heading">Error</h4>
                        <div class="error-content"></div>
                      </div>
                    <form class="needs-validation" novalidate action="#" id="new-card-form">

                        <div class="mb-3">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Content to show when displaying the card" id="card-front" style="height: 100px"></textarea>
                                <label for="card-front">Card Front</label>
                            </div>                       
                        </div>

                        <div class="mb-3">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Content to show when flipping the card (ie, answer)" id="card-back" style="height: 100px"></textarea>
                                <label for="card-back">Card Back</label>
                            </div>                       
                        </div>
                        
                        <p><small class="text-muted">Any dangerous HTML tags will be removed, avoid using HTML and use only text for best results.</small></p>
                        <p><small class="text-muted">HTML will not be exported when converting deck cards to CSV file for export.</small></p>
            
                      </form>
                </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary close-model-btn" data-bs-dismiss="modal" onclick="clear_form()">Cancel</button>
                    <button type="button" class="btn btn-primary" id="card-submit" onclick="create_card()"> <span class="spinner-border spinner-border-sm spinner" style="display: none;" role="status" aria-hidden="true"></span> Create</button>
                </div>
            </div>
            </div>
        </div>

        <div class="modal fade" id="card-remove" data-bs-keyboard="false" tabindex="-1" aria-labelledby="card-remove-Label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                  <h5 class="modal-title" id="card-remove-Label" id="card-remove-title">Delete deck confirmation</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="card-remove-content">
                  <p>Are you sure you want to delete the selected card(s)?</p>
                  <p class="card-ids"></p>

                  <p><strong>Warning: All the data and reviews attached to this card will be wiped and is not recoverable</strong></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary" onclick="delete_cards(undefined, true)" id="card-remove-btn">Confirm</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="update-card-model" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="update-card-model-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="update-card-model-label">Update Card - <span id="update-card-id">098</span></h5>
                    <button type="button" class="btn-close close-model-btn" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger error" role="alert" style="display: none;">
                        <h4 class="alert-heading">Error</h4>
                        <div class="error-content"></div>
                      </div>
                    <form class="needs-validation" novalidate action="#" id="update-card-form">

                        <div class="mb-3">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Content to show when displaying the card" id="card-front" style="height: 100px"></textarea>
                                <label for="card-front">Card Front</label>
                            </div>                       
                        </div>

                        <div class="mb-3">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Content to show when flipping the card (ie, answer)" id="card-back" style="height: 100px"></textarea>
                                <label for="card-back">Card Back</label>
                            </div>                       
                        </div>
                        
                        <p><small class="text-muted">Any dangerous HTML tags will be removed, avoid using HTML and use only text for best results.</small></p>
                        <p><small class="text-muted">HTML will not be exported when converting deck cards to CSV file for export.</small></p>
            
                      </form>
                </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cancel</button>
                    <button type="button" class="btn btn-primary" id="update-card-submit" onclick="update_card()"> <span class="spinner-border spinner-border-sm spinner" style="display: none;" role="status" aria-hidden="true"></span> Update</button>
                </div>
            </div>
            </div>
        </div>

        <div class="modal fade" id="import-card-model" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="card-import-Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header bg-black text-white">
                  <h5 class="modal-title" id="card-import-Label" id="card-import-title">Import cards from a CSV file</h5>
                </div>
                <div class="modal-body" id="card-import-content">
                    <div class="mb-3">
                        <label for="csv-file" class="form-label">Select the CSV file</label>
                        <input class="form-control" type="file" id="csv-file">
                      </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary" onclick="import_csv()" id="card-import-btn"><span><i  class="import-state-indicator fas fa-upload"></i></span> Import</button>
                </div>
              </div>
            </div>
          </div>
</div>

<style>
.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: .75rem; }
.rounded-6 { border-radius: 1rem; }
</style>
{% endif %}

{% endblock main_content %}


{% block end_body_block %}
{{super()}}

{% if deck is none %}

{% else %}

<script src="{{url_for('static', filename='js/datatables.min.js')}}" ></script>
<script src="{{url_for('static', filename='js/select.bootstrap.min.js')}}" ></script>

<script>

var dt; 
var delete_prompt;
var update_prompt;
var import_prompt;
var CARDS_TO_DELETE = [];

function import_csv() {
    var formData = new FormData();
    var imagefile = document.querySelector('#csv-file');
    formData.append("file", imagefile.files[0]);

    function error() {
        $.toast({
            type: 'error',
            title: `Upload failed`,
            subtitle: 'just now',
            content: `Unable to upload/import the selected file, please try again.`,
            delay: 60000,
          });

    }

    axios.post('{{url_for("routes.api.card.import_csv", deck_id=deck.deck_id)}}', formData, {
        headers: {
        'Content-Type': 'multipart/form-data'
        }
    }).then(function(r) {
        if (r.data.errors) {
            error();
            return;
        }

        $.toast({
            type: 'success',
            title: `Upload successful`,
            subtitle: 'just now',
            content: `The csv file was successfully imported and added to your deck.`,
            delay: 60000,
          });

        populate_cards();
        
    }).catch(error).then(function(){
        import_prompt.hide();
    });
}

function create_card() {    

    $("#card-back, #card-front").prop("readonly", true);
    $(".close-model-btn").attr("disabled", true)

    data = {
        card_front: $("#card-front").val(),
        card_back: $("#card-back").val()
    }
    
    $("#card-submit").attr("disabled", "true");
    $("#card-submit>.spinner").show();
    
    axios.put('{{url_for("routes.api.card.add_card_to_deck", deck_id=1001)}}'.replace("1001", "{{deck.deck_id}}"), 
        data
    ).then(function(r) {
        card = r.data.data;
        if (!!!dt) {
            $('.card-list-empty').hide();
            render_cards([card]);
        } else {
            if (dt.data().length < 1) {
                $('.card-list-empty').hide();
            }

            $('.card-list').show();
            dt.rows.add([card]).draw();
        }

        $('.close-model-btn').trigger('click');

        $.toast({
            type: 'success',
            title: `Card ${card.card_id} created`,
            subtitle: 'just now',
            content: `Card ${card.card_id} has been created and added to your deck successfully!`,
            delay: 60000,
            });

    }).catch(function(e) {
        var html = "";
        if (e.response.status == 400) {
            for (var err in e.response.data.validation_error.body_params) {
                for (var i = 0; i < e.response.data.validation_error.body_params[err]['loc'].length; i++)
                    html += `<p class="text-start"><strong>${e.response.data.validation_error.body_params[err]['loc'][i]}</strong> ${e.response.data.validation_error.body_params[err]['msg']}</p>`
            }
        } else {
            if (e.response.data.errors) {
                for (var i = 0; i < e.response.data.errors.length; i++) {
                    html += `<p class="text-start"><strong>${e.response.data.errors[i].error_code}</strong> ${e.response.data.errors[i].error_description}</p>`;
                }
            } else {
                html = '<p class="text-start">Something went wrong, please try again</p>';
            }
        }

        $('.error-content').html(html);
        $('.error').show();
    }).then(release_form());
}


function release_form() {
    $("#card-back, #card-front").prop("readonly", false);
    $(".close-model-btn").attr("disabled", false);
    $("#card-submit").attr("disabled", false);
    $("#card-submit>.spinner").hide();
}

function clear_form() {
    release_form();

    $("#card-back, #card-front").val('');
    $('.error-content').html('');
    $('.error').hide();
}


function render_cards(data) {
    

    $('.card-list').show();
    
    if (!!dt) {
        dt.data().clear();
        dt.clear();
        dt.rows.add(data).draw();
        return;
    }

    dt = $("#card-list-table").DataTable({select: {
        style: "multi"
        },
      data: data,
      columnDefs: [
        {
          targets: 0,
          orderable: false,
          className: "select-checkbox",
          selectAllPages: false
        }
      ],
      order: [[ 1, "desc" ]],
      columns: [
        { data:null, render: () => ''},
        {data: 'card_id'},
        {
            data: 'card_front',
            render: function(data, type, row, meta) {
                return `<div class="card text-dark text-center bg-light p-3" style="max-height: 200px; overflow: auto;"> <div class="card-body align-middle col-flex"> <h5 class="card-title">${data}</h5> </div> </div>`
            }
        },
        {
            data: 'card_back',
            render: function(data, type, row, meta) {
                return `<div class="card text-dark text-center bg-light p-3" style="max-height: 200px; overflow: auto;"> <div class="card-body align-middle col-flex"> <h5 class="card-title">${data}</h5> </div> </div>`
            }
        },
        { 
            render: function ( data, type, row, meta ) {
                return `<div class="row" id="card-row-${data.card_id}"><a tabindex="-1" class="btn btn-primary m-1 col border-light" onclick="update_card(${data.card_id})">Edit</a> <a tabindex="-1" class="btn btn-danger m-1 col border-light del-card-btn" onclick="delete_cards(${data.card_id})">Delete</a></div>`
            },
            data: null,
            orderable: false
        }
      ],
      
      dom: 'Bfrtip',
      buttons: [
            'deleteSelected',
            {
                extend: "copy",
                text: '<span><i class="fas fa-copy"></i></span> Copy',
                className: 'bg-dark border-dark',
                exportOptions: {
                  stripHtml: true
                }
              },
              {
                extend: "csv",
                text: '<span><i class="fas fa-file-csv"></i></span> Export CSV',
                className: 'bg-primary border-primary',
                exportOptions: {
                  stripHtml: true,
                  columns: [2, 3]
                }
              },
              {
                extend: "print",
                text: '<span><i class="fa fa-print"></i></span> Print/PDF',
                className: 'bg-primary border-primary',
                exportOptions: {
                  stripHtml: false,
                  columns: [2, 3]
                }
              }
        ]
    });
    dt.draw();
}


function populate_cards() {
    $('.card-list-placeholder').show();
    $('.card-list').hide();

    axios.get("{{url_for('routes.api.card.get_deck_cards', deck_id=deck.deck_id)}}").then(
        function(r) {
            if (r.data.errors) {
                $('.card-list-empty').html('<div class="alert alert-danger error" role="alert"> <p>Unable to fetch the cards, please refresh and try again.</p> </div>').show();
                return;
            }

            $('#create-card-model-btn, #import-card-btn').prop('disabled', false);

            if (r.data.data.length < 1) {
                if (!!dt) {
                    dt.data().clear();
                }

                $('.card-list-empty').html(`<div class="row hstack pt-5"> <div class="col-md-6 col-sm-12 align-middle"> <h2 class="">It's empty, add more cards by clicking the button above</h2> </div> <div class="col-md-6 col-sm-12"> <img src="{{url_for('static', filename='images/empty.png')}}" class="rounded img-fluid" alt="empty deck"> </div> </div>`).show();
                return;
            } else {
                $('.card-list-empty').hide();
            }

            render_cards(r.data.data);
        }
    ).catch(
        function() {
            $('.card-list-empty').html('<div class="alert alert-danger error" role="alert"> <p>Unable to fetch the cards, please refresh and try again.</p> </div>').show();
        }
    ).then(
        function() {
            $('.card-list-placeholder').hide();
        }
    );
}

function update_card(id, popup) {
    if (!popup) {
        var data = dt.data().toArray().find((x) => x.card_id == id);
        $("#update-card-model #card-front").val(data.card_front);
        $("#update-card-model #card-back").val(data.card_back);

        $("#update-card-submit").attr("onclick", `update_card(${id}, true)`);

        update_prompt.show();
        return;
    }

    update_prompt.hide();
    function reset_cards() {
        $.toast({
            type: 'error',
            title: `Update failed`,
            subtitle: 'just now',
            content: `Unable to update the Card ${id} detail, please try again.`,
            delay: 60000,
          });

    }

    axios.patch("{{url_for('routes.api.card.update_card', deck_id=deck.deck_id)}}", {card_id: id, card_front: $("#update-card-model #card-front").val(), card_back: $("#update-card-model #card-back").val()}).then(
        function(r) {
            
            if (r.data.errors) {
                reset_cards();
                return;
            }

            $.toast({
                type: 'success',
                title: `Cards Update`,
                subtitle: 'just now',
                content: `Card ${id} was updated successfully!`,
                delay: 60000,
              });

            
            populate_cards();
        }

    ).catch(
        reset_cards
    );
}

function delete_cards(id, popup) {

    if (!popup) {
        CARDS_TO_DELETE = (id && [id]) || dt.rows({selected: true}).data().toArray().map((d) => d.card_id);

        if (CARDS_TO_DELETE.length < 1) return;
        
        $("#card-remove .card-ids").html("Card IDs: " + CARDS_TO_DELETE.map((d) => `<span class="badge bg-secondary text-light">${d}</span>`).join(" "));
        delete_prompt.show();

        return;
    }

    delete_prompt.hide();
    $(".delete-all-btn").addClass("disabled");
    for(i = 0; i < CARDS_TO_DELETE.length; i++) {
        a = $("#card-row-" + CARDS_TO_DELETE[i]).find(".del-card-btn");
        a && a.addClass("disabled");
    }

    function reset_cards() {
        $.toast({
            type: 'error',
            title: `Delete failed`,
            subtitle: 'just now',
            content: `Unable to delete the selected cards, please try again.`,
            delay: 60000,
          });

        for(i = 0; i < CARDS_TO_DELETE.length; i++) {
            a = $("#card-row-" + CARDS_TO_DELETE[i]).find(".del-card-btn");
            a && a.removeClass("disabled");
        }
    }

    axios.delete("{{url_for('routes.api.card.delete_card_from_deck', deck_id=deck.deck_id)}}", {data: {card_ids: CARDS_TO_DELETE}}).then(
        function(r) {
            
            if (r.data.errors) {
                reset_cards();
                return;
            }

            if (!r.data.data) {
                $.toast({
                    type: 'warning',
                    title: `Delete cancelled`,
                    subtitle: 'just now',
                    content: `No cards were selected, thus deletion process was cancelled`,
                    delay: 60000,
                  });    

                  return;
            }

            $.toast({
                type: 'success',
                title: `Cards deleted`,
                subtitle: 'just now',
                content: `The selected cards were deleted successfully!`,
                delay: 60000,
              });

            
            populate_cards();
        }

    ).catch(
        reset_cards
    ).then(
        function() {
            $(".delete-all-btn").removeClass("disabled");
        }
    );

}

$(document).ready(
function() {
    delete_prompt = new bootstrap.Modal($("#card-remove")[0]);
    update_prompt = new bootstrap.Modal($("#update-card-model")[0]);
    import_prompt = new bootstrap.Modal($("#import-card-model")[0]);

    $("#import-card-model")[0].addEventListener('hidden.bs.modal', function() {
        $(".import-state-indicator").removeClass("fa-spin").removeClass("fa-spinner").addClass("fa-upload")
    });

    $("#card-remove")[0].addEventListener('hidden.bs.modal', function() {
        CARDS_TO_DELETE = [];
    });

    $.fn.dataTable.ext.buttons.deleteSelected = {
        text: '<span><i class="fa fa-trash"></i></span>  Delete Selected',
        className: 'bg-danger border-danger delete-all-btn',
        action: function ( e, dt, node, config ) {
            delete_cards();
        }
    };


    $("#select-all-card").change(function(){
        if (this.checked) {
            dt.rows({page: 'current'}).select();
        } else {
            dt.rows({page: 'current'}).deselect();
        }
    });

    populate_cards();

}
);

</script>
{% endif %}

{% endblock end_body_block %}

{% block head_content %}
<link href="{{url_for('static', filename='css/datatables.min.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='css/select.bootstrap5.min.css')}}" rel="stylesheet">

{% endblock head_content %}

